{% load static %}

<div class="main-area the-main-area p-5">
    <div class="container">
      <div class="row mx-lg-n5">
        <div class="col-sm col-md-12 col-lg-6 py-3 px-lg-5">
        <div class="bounce-img">
          <img src="{% static 'core/images/abt_img.png' %}" class="w-100 about-img" alt="...">
        </div>
        </div>
        <div class="col-sm col-md-12 col-lg-6 px-lg-5 pt-5 pb-5 about-texts">
          <h1 class="about">ABOUT ME</h1>
          <p class="about-info">As a software engineer, I specialize in developing robust and scalable web applications. With a strong foundation in 
            programming languages like Python and JavaScript, I bring innovative solutions to complex problems. My expertise 
            extends across the full stack, from designing and implementing efficient server-side architectures to creating engaging 
            and intuitive user interfaces.
          </p>
        </div>
  </div>
      </div>
      </div>
  </div>