{% load static %}


<section id="contact" class="contact p-5">
    <div class="container">
      <div class="section-title">
        <h2 class="about">CONTACT ME</h2>
      </div>

      <div class="row mt-1">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="fas fa-map-marker-alt"></i>
              <h4>Location:</h4>
              <p>London, United Kingdom</p>
            </div>

            <div class="email">
              <i class="fas fa-envelope-open-text"></i>
              <h4>Email:</h4>
              <p>fumex9910@gmail.com</p>
            </div>

            <div class="phone">
              <i class="fas fa-phone-alt"></i>
              <h4>Call:</h4>
              <p>+447897488286</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
            

          <form id="yourForm" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="fullname" class="form-control" id="name" placeholder="Firstname Lastname" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <button type="submit" class="ctabtn">Send Message</button>
          </form>

        </div>
        <div class="modal" tabindex="-1" id="resultModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Form Submission Result</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p id="resultMessage"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>

  </section>

